<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Văn bản đến</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="presentPopover($event)">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-tab-bar>
        <ion-tab-button tab="vanbanden" class="vanbanden" class="tabvanbanden">
            <ion-icon name="ios-document"></ion-icon>
            <ion-label>Danh sách</ion-label>
          </ion-tab-button>
        <ion-tab-button tab="vanbanden/vanbandenchuaxuly" class="tabvanbandenchuaxuly">
          <ion-icon name="ios-document"></ion-icon>
          <ion-label>Chưa xử lý</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="vanbanden/vanbandenchuadoc" class="tabvanbandenchuadoc">
          <ion-icon name="ios-document"></ion-icon>
           <ion-label>Chưa đọc</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="vanbanden/vanbandenxulychinh" class="tabvanbandenxulychinh">
          <ion-icon name="ios-document"></ion-icon>
          <ion-label>Xử lý chính</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
      
</ion-header>
<ion-content>
  <ion-searchbar auocomplete="on" id="keyword" name="keyword" (ionChange)="loadsearch()" [(ngModel)]="dataquery.Keyword"></ion-searchbar>
  <ion-list reorder="true">
    <ion-item lines="none" *ngFor="let vanban of danhsachVanBans" routerLink="/members/tabs/vanbanden/chitietvanbanden/{{vanban.ID}}">
      <ion-label>
        <div *ngIf="vanban.NgayDen!=null"><span > Ngày đến :</span> {{vanban.NgayDen|date:'dd/MM/yyyy'}}<br></div>
        <div *ngIf="vanban.SoKyHieu!=''"><span > Số ký hiệu:</span> {{vanban.SoKyHieu}}<br></div>
        <div class="line-break">{{vanban.TrichYeu}}</div>
      </ion-label>
    </ion-item >
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
