<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Văn bản đến</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="presentPopover($event)">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar auocomplete="on" id="keyword" name="keyword" (ionChange)="doInfinite()" [(ngModel)]="keyword"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let vanban of danhsachVanBans" routerLink="/chitietvanban/{{session.ID}}">{{vanban.SoKyHieu}}</ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
