.button-clear{
    --color: #fff !important;
}
ion-button.ios.button.button-full.button-solid.ion-activatable.ion-focusable.hydrated {
    --background: #c49d6b;
}
.button-native{
    background: #8e693b;
}