<ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button (click)="closePopup()">
                  <ion-icon slot="icon-only" ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Thêm mới công việc</ion-title>
            <ion-buttons slot="end">
                <ion-button  class="btn-header"  color=""  type="submit" (click)="triggerSumbit()" [disabled]="!credentialsForm.valid">Xong</ion-button>
              </ion-buttons>
        </ion-toolbar>
      </ion-header>
    
    <ion-content>
        <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
          <ion-grid>
              <ion-row>
                  <ion-col size="12">
                      <ion-item>
                          <ion-label position="stacked">Tên công việc <span class="red">*</span></ion-label>
                          <ion-input  formControlName="Ten"  placeholder="Nhập tên công việc"></ion-input>
                      </ion-item>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="12">
                      <ion-item>
                          <ion-label position="stacked">Mã công việc </ion-label>
                          <ion-input  formControlName="Ma"  placeholder="Nhập mã công việc"></ion-input>
                      </ion-item>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="12">
                      <ion-item>
                          <ion-label  position="stacked">Ngày bắt đầu <span class="red">*</span></ion-label>
                          <ion-datetime displayFormat="MM/DD/YYYY"  formControlName="NgayBatDau" placeholder="Nhập ngày bắt đầu">
                          </ion-datetime>
                      </ion-item>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="12">
                      <ion-item>
                          <ion-label  position="stacked">Hạn xử lý <span class="red">*</span></ion-label>
                          <ion-datetime displayFormat="MM/DD/YYYY"  formControlName="NgayKetThuc"  placeholder="Nhập ngày kết thúc"> 
                          </ion-datetime>
                      </ion-item>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="12">
                      <ion-item>
                          <ion-label position="stacked">Nội dung công việc</ion-label><br>
                          <ion-textarea  formControlName="NoiDung" placeholder="Nhập nội dung"></ion-textarea>
                      </ion-item>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="6">
                      <ion-item>
                          <ion-label  position="stacked">Độ quan trọng</ion-label>
                          <ion-select placeholder="Độ quan trọng">
                            <ion-select-option value="14">Bình thường</ion-select-option>
                            <ion-select-option value="15">Quan trọng</ion-select-option>
                            <ion-select-option value="16">Rất quan trọng</ion-select-option>
                          </ion-select>
                        </ion-item>
                  </ion-col>
                  <ion-col size="6">
                      <ion-item>
                          <ion-label  position="stacked">Độ ưu tiên</ion-label>
                          <ion-select placeholder="Độ ưu tiên" >
                            <ion-select-option value="17">Bình thường</ion-select-option>
                            <ion-select-option value="18">Gấp</ion-select-option>
                            <ion-select-option value="19">Rất gấp</ion-select-option>
                          </ion-select>
                        </ion-item>
                  </ion-col>
              </ion-row>
            </ion-grid>
            <div class="box-component">
              <span class="title-box">Thành phần tham gia</span>
              <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                        <ion-item>
                            <ion-label position="stacked">Đơn vị xử lý</ion-label>
                              <ionic-selectable   itemValueField="ID" [isMultiple]="true" formControlName="DonViXuLy"  [shouldStoreItemValue]="true"
                              itemTextField="Ten" [items]="lstdonvi" [canSearch]="true" okText="Chọn" cancelText="Hủy" placeholder="Chọn đơn vị xử lý"
                              confirmButtonText="Chọn" closeButtonText="Hủy"
                              (onChange)="DonViXuLyChange($event)"
                              >
                            </ionic-selectable>
                        </ion-item>
                    
                      </ion-col>
                  </ion-row>
                  <ion-row>
                          <ion-col size="12">
                              <ion-item>
                                  <ion-label position="stacked">Người xử lý</ion-label>
                                  <ionic-selectable [(ngModel)]="nguoidung" itemValueField="id" [isMultiple]="true" formControlName="NguoiXuLy"  [shouldStoreItemValue]="true"
                                  itemTextField="text" [items]="lstnguoidung" [canSearch]="true" okText="Chọn" cancelText="Hủy" placeholder="Chọn người xử lý"
                                  confirmButtonText="Chọn" closeButtonText="Hủy"
                                  (onChange)="NguoiXuLyChange($event)"
                                  >
                                </ionic-selectable>
                              </ion-item>
                            
                            </ion-col>
                        </ion-row>
                        <ion-row>
                              <ion-col size="12">
                                  <ion-item>
                                      <ion-label position="stacked">Đơn vị phối hợp</ion-label>
                                      <ionic-selectable [(ngModel)]="donviph" itemValueField="ID" [isMultiple]="true" formControlName="DonViPhoiHop"  [shouldStoreItemValue]="true"
                                      itemTextField="Ten" [items]="lstdonvi" [canSearch]="true" okText="Chọn" cancelText="Hủy" placeholder="Chọn đơn vị phối hợp" 
                                      confirmButtonText="Chọn" closeButtonText="Hủy"
                                      (onChange)="DonViPhoiHopChange($event)"
                                      >
                                    </ionic-selectable>
                                    </ion-item>
                              
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                  <ion-col size="12">

                                      <ion-item>
                                          <ion-label position="stacked">Người phối hợp</ion-label>
                                          <ionic-selectable [(ngModel)]="nguoidungph" itemValueField="id" [isMultiple]="true" formControlName="NguoiPhoiHop"  [shouldStoreItemValue]="true"
                                          itemTextField="text" [items]="lstnguoidung" [canSearch]="true" okText="Chọn" cancelText="Hủy" placeholder="Chọn người phối hợp" 
                                          confirmButtonText="Chọn" closeButtonText="Hủy"
                                          (onChange)="DonViPhoiHopChange($event)"
                                          >
                                        </ionic-selectable>
                                      </ion-item>
                                
                                    </ion-col>
                                </ion-row>
                                    <span class="title-break-page" *ngIf="CongViecTrangThaiItems">Chi tiết giao xử lý</span>

                                        <div formArrayName="CongViecTrangThaiItems" *ngFor="let item of credentialsForm.get('CongViecTrangThaiItems').controls; let i = index;">
                                              <ion-row >
                                                  <ion-col size="6" *ngIf="item.get('NguoiDungID').value">
                                                      <ion-item  [formGroupName]="i">
                                                          <ion-label position="stacked" >{{item.get('Title').value}}</ion-label>
                                                          <ion-input  formControlName="NguoiDungText"readonly></ion-input>
                                                          <ion-input  formControlName="NguoiDungID" class="hidden"></ion-input>
                                                      </ion-item>
                                                  </ion-col>
                                                  <ion-col size="6" *ngIf="item.get('DonViID').value">
                                                      <ion-item  [formGroupName]="i">
                                                          <ion-label position="stacked" >{{item.get('Title').value}}</ion-label>
                                                          <ion-input  formControlName="DonViText" readonly></ion-input>
                                                          <ion-input  formControlName="DonViID" class="hidden"></ion-input>
                                                      </ion-item>
                                                  </ion-col>
                                                  <ion-col size="6">
                                                      <ion-item  [formGroupName]="i">
                                                          <ion-label  position="stacked">Hạn xử lý <span class="red">*</span></ion-label>
                                                          <ion-datetime displayFormat="MM/DD/YYYY"  formControlName="HanXuLy"  placeholder="Nhập ngày kết thúc"> 
                                                          </ion-datetime>
                                                          <ion-input  formControlName="IsDauMoi" class="hidden"></ion-input>
                                                      </ion-item>
                                                  </ion-col>
                                              </ion-row>
                                        </div> 
                                
                              <ion-row>
                                  <ion-col size="4">
                                  </ion-col>
                                  <ion-col size="4">
                                      <ion-button #hiddenButton id="submitForm" class="btn-theme"  color="theme hidden"  type="submit" >Thêm mới</ion-button>
                                  </ion-col>
                                  <ion-col size="4">
                                  </ion-col>
                                </ion-row>
                                
                  </ion-grid> 
            </div>
        </form>
    </ion-content>
    