<ion-header >    
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button (click)="closePopup()">
                  <ion-icon slot="icon-only" ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Xem file văn bản</ion-title>
          </ion-toolbar>    
    </ion-header>
<ion-content>
    <div *ngIf="checktypefile==true">
        <ion-fab bottom right horizontal="center">
                <button ion-fab mini (click)="zoomIn()">
                    <ion-icon name="add"></ion-icon>
                </button>
                <button ion-fab mini (click)="zoomOut()">
                    <ion-icon name="remove"></ion-icon>
                </button>
                <button ion-fab mini (click)="resetZoom()">
                    <ion-icon name="refresh"></ion-icon>
                </button>
            </ion-fab>
        <pdf-viewer  [src]="filelink" [autoresize]="true" [original-size]="false" style="display: block;" [zoom]="pdfZoom"
        [(page)]="page"
        [show-all]="showAll"
        [stick-to-page]="stickToPage"></pdf-viewer>
    </div>
     <div id="viewoffice">     
     </div>
</ion-content>