ion-item{
    padding:5px 0px;
}
ion-item ion-label span{
   font-weight:bold; 
}
.tabvanbandi{
    color: burlywood;
}
.line-break{
    overflow: inherit ;
    text-overflow: inherit ;
    white-space: normal;
  }