<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Công việc</ion-title>
        <ion-buttons slot="end">
          <ion-button >
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab [root]="tab1Root"></ion-tab>
    <ion-tab [root]="tab2Root"></ion-tab>
    <ion-tab [root]="tab3Root"></ion-tab>
  </ion-tabs>
</ion-content>
