<ion-tabs>

  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
          <ion-icon name="home"></ion-icon>
          <ion-label>Trang chủ</ion-label>
        </ion-tab-button>
    
    <ion-tab-button tab="vanbanden">
        <ion-icon name="copy"></ion-icon>
      <ion-label>Văn bản đến</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vanbandi">
      <ion-icon name="paper-plane"></ion-icon>
      <ion-label>Văn bản đi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="congviec">
        <ion-icon name="clipboard"></ion-icon>
      <ion-label>Công việc</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lichlamviec">
        <ion-icon name="calendar"></ion-icon>
      <ion-label>Lich làm việc</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
