<ion-tabs appSwipetab (ionTabsDidChange)="ionTabsDidChange($event)" (tabChange)="onTabChange($event)" #myTabs>

  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
          <ion-icon ios="ios-home-outline" md="md-home"></ion-icon>
          <ion-label>Trang chủ</ion-label>
        </ion-tab-button>
    
    <ion-tab-button tab="vanbanden">
        <ion-icon  ios="ios-copy-outline" md="md-copy"></ion-icon>
      <ion-label>Văn bản đến</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vanbandi">
      <ion-icon ios="ios-paper-plane-outline" md="md-paper-plane"></ion-icon>
      <ion-label>Văn bản đi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="congviec">
        <ion-icon ios="ios-clipboard-outline" md="md-clipboard"></ion-icon>
      <ion-label>Công việc</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lichlamviec">
        <ion-icon ios="ios-calendar-outline" md="md-calendar"></ion-icon>
      <ion-label>Lich làm việc</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
