.container{
    width: 100%;
    padding: 10px;
}
ion-item-group {
    width: 99%;
    margin: 9px auto;
    border: 1px solid #e6e3e3;
}
.lichhome ul li,.vanbanduthao ul li{
    margin-bottom: 2px;
    font-size: 14px;
    color: #4d4a4a;
    list-style: none;
}
.lichhome ul li::before,.vanbanduthao ul li::before{
    content: "\2022";
    color:#696969;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;

  }
  .vanban{
      margin: 0px 20px;
  }
  .tabvbden{
      margin-right: 20px;
      float: left;
      border-bottom: 3px solid #4d4a4a
  }
  .lbvbden{
      padding-bottom: 2px;
  }
 .bottontab{
    border-bottom: 2px solid #c49d6b;
 }
 ion-segment-button{
     border: 0px !important;
 }
 ion-segment-button ion-label{
     font-size: 14px;
     margin-left: 10px;
 }
 .sc-ion-segment-ios-h,.sc-ion-segment-md-h {
    --background: transparent !important;
    --background-hover: rgba(var(--ion-color-primary-rgb,56,128,255),0.1) !important;
    --background-activated: rgba(var(--ion-color-primary-rgb,56,128,255),0.16) !important;
    --background-checked: #c49d6b;
    --color:#929292;
    --color-checked: var(--ion-color-primary-contrast,#fff) !important;
    --color-disabled: rgba(var(--ion-color-primary-rgb,56,128,255),0.3) !important;
    --color-checked-disabled: rgba(var(--ion-color-primary-contrast-rgb,255,255,255),0.3) !important;
    --border-color: var(--ion-color-primary,#c49d6b) !important;
    --indicator-color: transparent !important;
}
ion-segment-button{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    // margin-left: 4px;
    padding: 3px 1px;
    min-height: 40px !important;
}
ion-segment{
    border-bottom: 1px solid #c49d6b;
    height: 40px !important;
}
ion-item-divider ion-label{
    font-size: 18px;
    color: #696969;
}