<ion-header>
    <ion-toolbar >
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Trang chủ</ion-title>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group class="lichhome">
    <ion-item-divider>
      <ion-label>Lịch làm việc</ion-label>
    </ion-item-divider>
  
   <ul>
     <li *ngFor="let lich of danhsachs">{{lich.NoiDung}} ({{lich.ThoiGianBatDau | date:'dd/MM/yyyy'}})</li>
   </ul>
  </ion-item-group>

  <ion-item-group class="vanbanhome">
    <ion-item-divider>
      <ion-label>Văn bản</ion-label>
    </ion-item-divider>
  </ion-item-group>
  <ion-segment>
    <ion-segment style="float: left"value="vanbanden">
      <ion-label class="lbvbden" >Văn bản đến</ion-label>
    </ion-segment>
    <ion-segment value="congviec" (click)="changecongviec()">
      <ion-label>Công việc</ion-label>
    </ion-segment>
    <ion-segment>
      <ion-label></ion-label>
    </ion-segment>
  </ion-segment>
    <div id="container" style="height: 35%" class="container"></div>
  <ion-list-header [hidden]="shownSessions > 0">
   van ban di
  </ion-list-header>
</ion-content>
