.container{
    width: 100%;
    padding: 10px;
}
ion-item-group {
    width: 99%;
    margin: 9px auto;
    border: 1px solid #e6e3e3;
}
.lichhome ul li{
    margin-bottom: 2px;
    font-size: 14px;
    color: #4d4a4a;
    list-style: none;
}
.lichhome ul li::before {
    content: "\2022";
    color:#696969;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    
  }
  .vanban{
      margin: 0px 20px;
  }
  .tabvbden{
      margin-right: 20px;
      float: left;
      border-bottom: 3px solid #4d4a4a
  }
  .lbvbden{
      border-bottom: 2px solid #c49d6b;
      padding-bottom: 2px;
  }
 